<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title == 'Form edit'} ? 'Edit your To-Do' : 'Create a new To-Do'"></title>
</head>
<body>

    <h1 th:text="${title == 'Form edit'} ? 'Edit your To-Do' : 'Create a new To-Do'"></h1>

<!-- EDIT THE TODO -->

        <div th:if="${title == 'Form edit'}">

                <form th:action="@{/edited}" th:object="${modified}" method="post">

                    <label>User:</label>

                    <input type="hidden" th:field="*{id}" >
                    <select th:field="*{user.id}" disabled>
                        <option selected th:value="*{user.id}" th:text="*{user.username}"></option>
                    </select>

                    <label>Title: </label>
                    <input type="text" name="title"  th:value="*{title}" maxlength="199" required>

                    <label>Status: </label>
                    <select th:field="*{completed}">
                        <option th:value="*{completed eq true} ? true : false" th:text="*{completed == true} ? 'Completed' : 'Not completed'" selected></option>
                        <option th:value="*{completed eq true} ? false : true" th:text="*{completed == true} ? 'Not completed' : 'Completed'"></option>
                    </select>

                    <button>Save</button>

                </form>
        </div>

<!-- final of EDIT page -->

<!-- CREATE A NEW TODO -->

        <div th:unless="${title == 'Form edit'}">

            <form th:action="@{/save}" th:object="${todoPost}" method="post">

                <label>User: </label>

                <select th:field="${todoPost.user.id}">
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}" ></option>
                </select>

                <label> Title: </label>
                <input type="text" name="title" th:field="${todoPost.title}" placeholder="Do something to do..." maxlength="199" required>

                <label> Status: </label>
                <select th:field="${todoPost.completed}">
                    <option th:value="false"  th:text="'Not Completed'" selected></option>
                    <option th:value="true" th:text="Completed" ></option>
                </select>

                <button>Save</button>

            </form>
        </div>

<!-- final of NEW page -->

</body>

</html>