<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit your To-Do</title>
</head>
<body>

    <h1>Edit your To-Do</h1>

    <form th:action="@{/edited}" th:object="${modified}" method="post">

      <label>User:</label>
         <input type="hidden" th:field="*{id}" >
      <select th:field="*{user.id}" disabled>
          <option selected th:value="*{user.id}" th:text="*{user.username}"></option>
      </select>

      <label>Title: </label>
          <input type="text" name="title"  th:value="*{title}" maxlength="199" required>

      <label>Status: </label>
          <select th:field="*{completed}">
              <option th:value="*{completed eq true} ? true : false" th:text="*{completed == true} ? 'Completed' : 'Not completed'" selected></option>
              <option th:value="*{completed eq true} ? false : true" th:text="*{completed == true} ? 'Not completed' : 'Completed'"></option>
          </select>

      <button>Save</button>

    </form>

</body>
</html>